// mixin is like a function, when this CSS is often used.
@mixin square {
    width: 100px;
    height: 100px;
}

@mixin bg($direction, $color) {
    background: linear-gradient($direction,$color);
}

@mixin border-radius($values) {
  -webkit-border-radius: $values;
     -moz-border-radius: $values;
          border-radius: $values;
}

// Modifying 3D text is a trouble, but is not by mixin 
@mixin text3d($color) {
  color: $color;
  text-shadow: 1px 1px 0px darken($color, 5%),
               2px 2px 0px darken($color, 10%),
               3px 3px 0px darken($color, 15%),
               4px 4px 0px darken($color, 20%),
               4px 4px 2px #000;
}
 